.wrapper {
    margin: 120px 80px;
    width: 100%;
    height: 100%;

    .text {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.desc {
    margin: 10px 40px;
    font-size: 20px;
    color: #9E829C;
    width: 400px;
    text-align: justify;
}

.start {
    color: #e5e5e5ff;
    background-color: #121420ff;
    padding: 30px 50px;
    border-radius: 10px;
    border: none;
    font-size: 20px;

    &:hover {
        cursor: pointer;
        background-color: #b76d68ff;
    }
}
