<div class="wrapper">
    <h2>The project will help you learn proper behavior in critical situations.</h2>
    <div class="text">
        <div class="desc">
            <p>
                We should teach our next generation to be ready for not typical situations or for critical moments in our life. Because what happens next matters most "We are ready!".
            </p>
        </div>
        <div class="button-wrap">
            <button class="start" routerLink="/journey">Start Quest</button>
        </div>
    </div>
</div>
