.wrapper {
    margin: 120px 80px;
    height: 100%;
    font-size: 22px;
}

.start-quest {
    color: #e5e5e5ff;
    background-color: #121420ff;
    padding: 30px 50px;
    border-radius: 10px;
    border: none;
    font-size: 20px;

    &:hover {
        cursor: pointer;
        background-color: #b76d68ff;
    }
}

.quest {
    border: 1px solid rgb(64, 63, 76, 50%);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 20px 200px;
}

.picture {
    width: 800px;
    min-height: 500px;
    background-color: #121420ff;
    opacity: 0.5;
}

.text {
    padding: 0px 20px;
}

.choose-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #363636ff;
    box-sizing: border-box;
}

.variant {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    
    &:hover {
        cursor: pointer;
        background-color: #9FCC2E;
    }
}

.over {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: #cc2e2e;
}

.finish {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: #9FCC2E;
}