@import '../../../styles.scss';

.logo {
    font-family: 'Climate Crisis', cursive;
    font-size: xx-large;
    margin: 0 0 0 40px;
}

.header {
    width: 100%;
    height: 80px;
    background-color: $rich-black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.menu {
    display: flex;
    width: 400px;
    justify-content: space-between;
    margin: 0 40px 0 0;
    font-size: 20px;
}

a {
    color: $platinum;

    &:hover {
        color: $indian-red;
    }
}