$black: #000;
$britishGreen: #0E402D;
$polyGreen: #295135;
$ebony: #5A6650;
$yellowGreen: #9FCC2E;

//---
$jet: #363636ff;
$gunmetal: #242f40ff;
$satin-sheen-gold: #cca43bff;
$platinum: #e5e5e5ff;
$white: #ffffffff;

//---
$onyx: #403f4cff;
$raisin-black: #2c2b3cff;
$gunmetal: #1b2432ff;
$rich-black: #121420ff;
$indian-red: #b76d68ff;