<div class="wrapper">
    <h2>Asterisks ITS team</h2>
    <div class="about-us">
        <div class="photo">
            <div class="cover"></div>
            <!-- <img src="../../../assets/weAre.jpeg" width="500px" alt="Asterisks ITS Team photo"> -->
        </div>
        <div class="desc">
            <p>The girls of our department take part in the international project: "SheBuilds Ukraine Hackathon", which is organized by the Canadian architectural company WZMH Architects with the support of the Embassy of Ukraine in Canada and the Ministry of Education and Science of Ukraine. The goal is to combine the talent and experience of Ukrainian female students in various programs to offer innovative approaches to the design and reconstruction of Ukraine using IT, software and any other creative solutions.
            </p>
            <p>Our department is represented by a team consisting of:</p>
            <ul class="team-list">
                <li class="team-item">Anastasia Lyzogub is a student of KN01-19;
                </li>
                <li class="team-item">Angelina Bondar is a student of КН01-20;
                </li>
                <li class="team-item">Darya Bychkova is a student of КН01-22;
                </li>
                <li class="team-item">Marharyta Andriukhina is a graduate student of ITS.
                </li>
            </ul>
            <p>We congratulate our girls and wish them success and victory in the hackathon!</p>
            <p>Instagram: @wzmharchitects, @ua_it_hub, @zenon_radewych</p>
    </div>s
</div>